<!DOCTYPE html>
<html>
  <head>
    <title>Watchlist</title>
    <meta name="viewport" content="minimal-ui, width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <link rel="manifest" href="manifest.json" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <script>
      window.vapidPublicKey = new Uint8Array(<%= Base64.urlsafe_decode64(Rails.application.credentials.vapid.public_key).bytes %>);
    </script>

    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <div id="<%= "react-app" if react_app? %>">
      <div class="vw-100 vh-100 primary-color d-flex align-items-center justify-content-center">
        <div class="jumbotron jumbotron-fluid bg-transparent">
          <div class="container secondary-color">
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
